<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
      
<head>
    <title>Knowledges</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>

<body>
    <div class="container">
        <div th:replace="fragments/header :: header"></div>
        
        <h1>Edit personal information</h1>
        <form action="#" th:action="@{'/user/edit/' + ${user.username}}" th:object="${user}" method="post">
	        <table>
	            <tr>
	                <td><label for="name">Name: </label></td>
	                <td><input type="text" th:field="*{name}" /></td>
	                <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</td>
	            </tr>
	            <tr>
	                <td><label for="email">Email: </label></td>
	                <td><input type="email" th:field="*{email}" /></td>
	                <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</td>
	            </tr>
	            <tr>
	                <td><label for="username">Username: </label></td>
	                <td><input type="text" th:field="*{username}" /></td>
	                <td th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username error</td>
	            </tr>
	            <tr hidden="true">
	                <td><label for="password">Password: </label></td>
	                <td><input type="password" th:field="*{password}" /></td>
	                <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</td>
	            </tr>
	            <tr hidden="true">
	                <td><label for="authoritie">Role: </label></td>
	                <td>
	                    <select th:field="*{authoritie}">
	                        <option th:each="authoritie : ${T(com.ness.knowledges.security.UserRole).values()}" th:value="${authoritie}" th:text="${authoritie.getDescription()}"></option>
	                    </select>
	                </td>
	                <td th:if="${#fields.hasErrors('authoritie')}" th:errors="*{authoritie}">Authoritie error</td>
	            </tr>
	        </table>
	        <input type="submit" value="Update" />
        </form>
    </div>
</body>
</html>