<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
      
<head>
    <title>User page</title>
    <object th:replace="fragments/deps :: deps" th:remove="tag"></object>
</head>

<body>
    <div class="container" th:object="${user}">
        <div th:replace="fragments/header :: header"></div>
       	
       	<div class="page-header">
        	<h1>Search users</h1>
   		</div>
       	
       	<div class="input-group input-group-lg select2-bootstrap-append">       		
			<select id="single-prepend-text" class="form-control select2" multiple="multiple">
				<option value="A">A</option>
				<option value="B">B</option>
				<option value="C">C</option>
			</select>
			<span class="input-group-btn">
				<button class="btn btn-default" type="button" data-select2-open="single-prepend-text">
					<span class="glyphicon glyphicon-search"></span>
				</button>
			</span>
       	</div>
       	
    </div>
    <script th:inline="javascript">
    /*<![CDATA[*/
        $(document).ready(function() {
  			$(".select2").select2({
  				placeholder: "Search by knowledges",
  				theme: "bootstrap"
  			});
		});
    /*]]>*/
	</script>
</body>
</html>