<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<body>
	<ul th:fragment="dashboard-navigation" class="nav nav-pills nav-stacked">
		<li th:classappend="${activePage == 'users'} ? 'active' : ''" role="presentation">
			<a href="#" th:href="@{/dashboard/users}">Users</a>
		</li>
		<li th:classappend="${activePage == 'areas'} ? 'active' : ''" role="presentation">
			<a href="#" th:href="@{/dashboard/areas}">Areas</a>
		</li>
		<li th:classappend="${activePage == 'skills'} ? 'active' : ''" role="presentation">
			<a href="#" th:href="@{/dashboard/skills}">Skills</a>
		</li>
	</ul>
</body>
</html>