<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Knowledges</title>
    <object th:replace="fragments/deps :: deps" th:remove="tag"></object>
</head>

<body>
<!-- Header -->
	<div class="container">
	    <div th:replace="fragments/header :: header"></div>
	    
	    <div class="page-header">
	        <h1>Edit areas and knowledges</h1>
	    </div>
	   
   		<form action="#" th:action="@{/knowledge/edit}" method="post"
   			  th:object="${editAreasAndKnowledgesForm}">
   			<div class="row">
   				<div class="col-md-4">
	   				<div class="panel panel-default">
		   				<div class="panel-heading">Areas</div>
		   				<div th:each="area, stat : *{areas}">
		   					<input th:field="*{areas[__${stat.index}__].title}"
		   					   	   type="text" class="form-control" placeholder="Area title" />
		   					<input type="hidden" th:field="*{areas[__${stat.index}__].areaId}" />
		   				</div>
	   				</div>
   				</div>
   				<div class="col-md-4">
	   				<div class="panel panel-default">
		   				<div class="panel-heading">Knowledges</div>
		   				<div th:each="knowledge, stat : *{knowledges}">
		   					<input th:field="*{knowledges[__${stat.index}__].title}"
		   					   	   type="text" class="form-control" placeholder="Knowledge title" />
		   					<input type="hidden" th:field="*{knowledges[__${stat.index}__].knowledgeId}" />
		   				</div>
	   				</div>
   				</div>
   			</div>
   			<button class="btn btn-default" type="submit">Save</button>
   		</form>
	    
    </div>
</body>
</html>