<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Knowledges</title>
    <object th:replace="fragments/deps :: deps" th:remove="tag"></object>
</head>

<body>
<!-- Header -->
<div class="container">
    <div th:replace="fragments/header :: header"></div>
    
    <div class="page-header">
        <h1>All areas and knowledges</h1>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading">Add new area</div>
        <div class="panel-body">
            <form class="form-inline" th:object="${newArea}" th:action="@{/knowledge}" method="post" action="#">
		        <div class="form-group">
		            <label for="title">Title</label>
		            <input type="text" class="form-control" th:field="*{title}" required="" />
		        </div>
		        <div class="form-group">
		            <label for="description">Description</label>
		            <input type="text" class="form-control" th:field="*{description}" />
		        </div>
		        <button type="submit" class="btn btn-default">Add area</button>
		        <a th:href="@{/knowledge/edit}" href="#" class="btn btn-default" role="button">Edit</a>
		    </form>
        </div>
    </div>
    
    <ul class="nav nav-tabs" th:unless="${isAreasEmpty}">
        <li role="presentation" th:each="area : ${areas}">
            <a th:with="title=${area.getTitle()}" 
               href="#" th:href="@{'/knowledge/area/' + ${title}}" 
               th:text="${title}">
               Area title
            </a>
        </li>
    </ul>
</div>
</body>
</html>