<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>

<head>
    <title>User page</title>
    <object th:replace="fragments/deps :: deps" th:remove="tag"></object>
</head>

<body>
<div class="container" th:object="${user}">
    <div th:replace="fragments/nivagation :: nivagation"></div>

    <h1>Hello, <label th:text="*{name}"></label></h1>
    <div class="row">
        <div class="col-md-4">
            <h3>Your personal information</h3>
            <table class="table">
                <tr>
                    <td>Name:</td>
                    <td th:text="*{name}"></td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td th:text="*{email}"></td>
                </tr>
                <tr>
                    <td>Username:</td>
                    <td th:text="*{username}"></td>
                </tr>
                <tr>
                    <td>Role:</td>
                    <td th:text="*{authoritie.getDescription()}"></td>
                </tr>
            </table>
            <a class="btn btn-default" href="#" th:href="@{/settings(editableUser=*{username})}" role="button">Edit</a>
        </div>
        <div class="col-md-4">
            <h3>Your skills</h3>
            <div th:unless="${isEmptySkills}">
                <div class="panel panel-default" th:each="area : ${skillsGropedByAreaTitle}">
                    <div class="panel-heading" th:text="${area.key}">Area title</div>
                    <ul class="list-group">
                        <li class="list-group-item" th:each="skill : ${area.value}" th:text="${skill.title}">Skills
                            title
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
