<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
      
<head>
    <title>Password settings</title>
    <object th:replace="fragments/deps :: deps" th:remove="tag"></object>
</head>

<body>
	<div class="container">
		<div th:replace="fragments/nivagation :: nivagation"></div>
		
		<div class="row">
			<div class="col-md-2">
				<ul th:replace="fragments/settings-navigation :: settings-navigation"></ul>
			</div>
			<div class="col-md-10">
				<h3>Edit password</h3>
                <form action="#" th:action="@{/settings/password(editableUser=${editableUser})}" 
                	  method="post"
                	  th:object="${passwordSettingsForm}">
                	<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('*')}">
						<p th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}">Name error</p>
						<p th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}">Name error</p>
						<p th:if="${#fields.hasErrors('confirmNewPassword')}" th:errors="*{confirmNewPassword}">Name error</p>
						<p th:errors="${passwordSettingsForm}">Name error</p>
					</div>
					<div class="alert alert-success" th:if="${userUpdated}">
						Saved successful
					</div>
					<input type="hidden" th:field="*{id}" />
                	<div class="form-group" 
                		 th:classappend="${#fields.hasErrors('oldPassword')} ? 'has-error' : ''">
                		<label for="oldPassword">Old password: </label>
                		<input type="password" class="form-control" th:field="*{oldPassword}" />
                	</div>
                	<div class="form-group"
                		 th:classappend="${#fields.hasErrors('newPassword')} ? 'has-error' : ''">
                		<label for="newPassword">New password: </label>
                		<input type="password" class="form-control" th:field="*{newPassword}" />
                	</div>
                	<div class="form-group"
                		 th:classappend="${#fields.hasErrors('confirmNewPassword')} ? 'has-error' : ''">
                		<label for="confirmNewPassword">Confirm new password: </label>
                		<input type="password" class="form-control" th:field="*{confirmNewPassword}" />
                	</div>
                	<button type="submit" class="btn btn-default">Save</button>
                </form>
			</div>
		</div>
		
	</div>
</body>
</html>