<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
      
<head>
    <title>Profile settings</title>
    <object th:replace="fragments/deps :: deps" th:remove="tag"></object>
</head>

<body>
	<div class="container">
		<div th:replace="fragments/header :: header"></div>
		
		<div class="row">
			<div class="col-md-2">
				<ul th:replace="fragments/settings-navigation :: settings-navigation"></ul>
			</div>
			<div class="col-md-10">
				<h3>Edit personal information</h3>
                <form action="#" th:action="@{/settings/profile(editableUser=${editableUser})}" 
                	  method="post"
                	  th:object="${profileSettingsForm}">
                	<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('*')}">
						Input error
					</div>
					<div class="alert alert-success" th:if="${userUpdated}">
						Saved successful
					</div>
					<input type="hidden" th:field="*{id}" />
                	<div class="form-group" 
                		 th:classappend="${#fields.hasErrors('name')} ? 'has-error' : ''">
                		<label for="name">Name: </label>
                		<input type="text" class="form-control" th:field="*{name}" />
                	</div>
                	<div class="form-group"
                		 th:classappend="${#fields.hasErrors('email')} ? 'has-error' : ''">
                		<label for="email">Email: </label>
                		<input type="email" class="form-control" th:field="*{email}" />
                	</div>
                	<div class="form-group"
                		 th:classappend="${#fields.hasErrors('username')} ? 'has-error' : ''">
                		<label for="username">Username: </label>
                		<input type="text" class="form-control" th:field="*{username}" />
                	</div>
                	<button type="submit" class="btn btn-default">Save</button>
                </form>
			</div>
		</div>

	</div>
</body>
</html>