<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="deps">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	
	<!-- JQuery -->
	<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
	
	<!-- Bootstrap -->
    <link th:href="@{/resources/vendors/bootstrap/css/bootstrap.css}" rel="stylesheet" media="screen" />
    <link th:href="@{/resources/vendors/bootstrap-editable/css/bootstrap-editable.css}" rel="stylesheet" media="screen" />
    <script th:src="@{/resources/vendors/bootstrap/js/bootstrap.js}"></script>
    
    <!-- Select2 -->
    <script th:src="@{/resources/vendors/select2-4.0.3/js/select2.js}"></script>
    <link th:href="@{/resources/vendors/select2-4.0.3/css/select2.css}" rel="stylesheet" media="screen" />
    <link th:href="@{/resources/vendors/select2-bootstrap-theme-0.1.0-beta.8/select2-bootstrap.css}" rel="stylesheet" media="screen" />
    <link th:href="@{/resources/vendors/select2-bootstrap.css}" rel="stylesheet" media="screen" />
    
    <!-- Bootstrap Editable  -->
    <script th:src="@{/resources/vendors/bootstrap-editable/js/bootstrap-editable.js}"></script>
    
    <!-- My -->
    <link th:href="@{/resources/css/core.css}" rel="stylesheet" media="screen" />
   
</head>
<body>

</body>
</html>