<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
</head>
<body>
    <!--/*  Multiple fragments may be defined in one file */-->

    <form th:fragment="login" th:action="@{/login}" th:method="get">
        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-log-in"></span> Login</button>
    </form>
    <form th:fragment="logout" th:action="@{/logout}" th:method="post">
        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-log-in"></span> Logout</button>
    </form>
</body>
</html>